<div class="container">
  <h1> 
      Welcome to {{title}}!!
  </h1>
  <hr/>
    <form #form (ngSubmit)="submitForm(fm)" #fm="ngForm">
      <div class="from-group">
        <label for="name">Item Name:</label>
        <input type="text" class="form-control" [(ngModel)]="name" name="name" id="name">
      </div>
      <div class="form-group">
        <label for="price">Item Price:</label>
        <input type="text" class="form-control" [(ngModel)]="price" name="price" id="price">
      </div>
      <br/>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
    <div class="silly-table-wrapper">
      <table class="silly-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data | sortById:'id'">
            <td>{{ row.id }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.price }}</td>
            <td>
              <ngbd-modal-component [rowData]="row" (submitEvent)="onModalSubmit($event)"></ngbd-modal-component>
              <button class="silly-btn silly-btn-delete" (click)="deleteRow(row.id)">Delete</button>
            </td>
          </tr>          
        </tbody>
      </table>
    </div>
</div>