body {
  font-family: Arial, sans-serif;
  transition: all 0.3s ease;
  background-color:#92a8d1;
  height: 100vh;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 50px 0;
}

.form-wrapper {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  background-color:#92a8d1;
}

.table-responsive {
  margin-top: 20px;
}

.silly-btn {
  font-family: Arial, sans-serif;
  display: inline-block;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  cursor: pointer;
  border-radius: 3px;
}

.silly-btn-edit {
  background-color: #007bff;
  color: #fff;
}

.silly-btn-delete {
  background-color: #dc3545;
  color: #fff;
}

.dark-mode,
.dark-mode app-root {
  background-color: #121212;
  color: #f5f5f5;
}
.dark-mode body
{
  background-color: #121212;
}

.dark-mode .form-wrapper,
.dark-mode app-root .form-wrapper {
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}

.dark-mode .table,
.dark-mode .table-responsive {
  color: #fff;
}

.dark-mode .table-striped tbody tr {
  color: #fff !important;
}

.dark-mode .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

.dark-mode .table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(255, 255, 255, 0.05);
}

.dark-mode .table-striped tbody tr td,
.dark-mode .table-striped tbody tr th {
  color: #fff !important;
}
body 
{
  background-color: #92a8d1;
}

.dark-mode .silly-btn-edit,
.dark-mode app-root .silly-btn-edit {
  background-color: #409eff;
  color: #fff;
}

.dark-mode .silly-btn-delete,
.dark-mode app-root .silly-btn-delete {
  background-color: #f56565;
  color: #fff;
}

.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate__animated:nth-child(even) {
  animation-name: slideInUp;
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.table td.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}